html {
    background-color: purple
}

body {
    width: 0 px;
    margin: 0px;
    background-color: #ff0000;
    padding: 500px 600px;
    border: 10px solid rgb(0, 0, 0);
    font-family: center;
}

* {
    color: blue;
    background-color: rgb(124, 197, 173);
    color: rgb(0, 0, 0);
    width: 200px;
    margin: 0;
    text-align: center;
    padding: 0;
    font-family: center;
    box-sizing: auto;
}